<div class="jumbotron jumbotron-fluid footer mt-0 mb-0">
    <div class="container">
  
      <hr>

      <p class="text-center mt-5 mb-0">
        <a href="#">Viagens em 2 Rodas</a>.
        &reg; Todos os Direitos Reservados.
        Feito com <a href="https://jekyllrb.com/">Jekyll</a>, <a href="https://getbootstrap.com/">Bootstrap</a></p>
    </div>
  
    <a id="js-scroll-vanilla"><i class="fa fa-chevron-up"></i></a>
  
  </div>