<nav class="navbar navbar-expand-lg header">

    <div class="container">
      <a class="navbar-brand" href="{{site.baseurl}}/">{{site.title}}</a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
        <i class="fas fa-bars menu-bar"></i>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% include menu.html %}
            {% include pesquisar.html %}
        </ul>
  
        <!--<ul class="navbar-nav ml-auto">
          <a class="nav-link dark-mode" style="cursor:pointer;" id="toogle-theme"  data-toggle="tooltip" data-html="true" title="<em>Alterar</em> <u>modo</u> <b>Dark/Light</b>">
            <i class="far fa-lightbulb" id="too"></i>
          </a>
        </ul>-->
  
      </div>
    </div>
  </nav>
  