<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="icon" href="/assets/img/icon.png" sizes="32x32" type="image/png">-->    <!-- TODO ADD ICON -->
    <title>{% if page.title %} {{ page.title | escape }} {% else %} {{ site.title | escape }} {% endif %}</title>

    
    <!-- METADADOS:  -->
    <meta name="keywords" content="btt, ciclismo, rotas, passeios, travessias, singlespeed, viagens">
    <meta name="description" content="{% if page.excerpt %} {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }} {% else %} {{ site.description }} {% endif %}">
	<meta name="author" content="{{ site.author }}">
	<meta name="robots" content="noodp">
	<meta name="reply-to" content="{{ site.email }}">
    

    <!-- BOOTSTRAP:  -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    


    <!-- MY FILES:  -->
    <link rel="stylesheet" href="/assets/css/main-dark.css">
    <script src="/assets/js/toogle-theme.js"></script>



    {% seo %}
</head>