<li class="nav-item active">
    <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/bicicletas">Bicletas</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/indice">Índice</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/sobre">Sobre</a>
</li>

<li class="nav-item">
    <a class="nav-link mySearch" data-toggle="modal" data-target="#mySearch">Pesquisar</a>
</li>