<!-- INICIO MODAL -->
<div class="modal fade text-center" tabindex="-1" id="mySearch" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span class="iconify" data-icon="ei:close" data-inline="false" style="color: white" data-width="32" data-height="32" ></span>
        </button>
      </div>
      <div class="modal-body" style="background-color: transparent">
        <input type="text" id="search-input" value="Digite o que pretende" onblur="if(this.value == ''){ this.value='Digite o que pretende';}" onfocus="if(this.value == 'Digite o que você procura aqui'){ this.value='';}"/>
        <br />
        <ul id="results-container"></ul>
      </div>
      <!-- modal-body:  -->
      <script src="/assets/js/search-script.min.js" type="text/javascript"></script>
      <script>
        SimpleJekyllSearch({
          searchInput: document.getElementById("search-input"),
          resultsContainer: document.getElementById("results-container"),
          json: "/search.json",
        });
      </script>
    </div>
    <!-- modal-content:  -->
  </div>
  <!-- modal-dialog -->
</div>
<!-- MODAL FIM:  -->
