<div class="container my-5 py-5 posts">
    <!--<h1 class="text-center">Tutoriais, artigos e dicas em geral</h1>-->
  
    <div class="card-deck blog">
  
        {% for post in site.posts limit:12 %}
    <div class="card bg-dark mb-3" style="min-width: 18rem;">
      {% if post.icon %}
        <div class="card-header"><span class="iconify" data-icon="{{ post.icon | escape }}" data-inline="false" {{ post.color }}></span> {{ post.iconname }}</div>
      {% else %}
        <!--<div class="card-header"><span class="iconify" data-icon="flat-color-icons:linux" data-inline="false"></span> linux</div>-->
      {% endif %}
      <div class="card-body">
        <h5 class="card-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h5>
        <hr>
        <!--<p class="card-text"><a href="{{ post.url | prepend: site.baseurl }}"></a>{{ post.description }}</a></p> -->
        <p class="card-text">{{ post.description }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-small btn-custom">LER MAIS</a>
      </div>
      <div class="card-footer">
        <small class="text-muted"><span class="iconify" data-icon="flat-color-icons:calendar" data-inline="false"></span>{{ post.author }} @ {{ post.date | date_to_string }}</small>
      </div>
    </div>
    {% endfor %}
  
  
      
    <!--
        <hr>
        <a href="{{site.baseurl}}/" class="btn btn-lg btn-block mt-4 btn-danger shadow">Veja todos as publicações</a>
    -->
  
    </div>
  
  </div><!-- CONTAINER POSTS -->