---
layout: page
title: "As minhas companheiras"
permalink: "/bicicletas"
description: 'Descrição das minhas companheiras das aventuras em 2 rodas.'
---

<main id="main">

    
	<h1 id="howto" class="under-line text-center">"Chaimite Alentejana v2.0"</h1>
        <img src="../assets/img/bikes/chaimite.jpg" alt="Bicicleta Chaimite Alentejana (Single Speed)">
    <br>
    <ul>
        <li><strong>Nome</strong>: Chaimite Alentejana v2.0 (Single Speed)</li>
        <li><strong>Marca/Modelo</strong>: Cannondale F29 [Alumínio] (2015), L</li>
        <li><strong>Guiador</strong>: Cannondale C3 Flat, alumínio, 700mm</li>
        <li><strong>Avanço</strong>: Cannondale OEM</li>
        <li><strong>Caixa Direção</strong>: Cannondale OEM</li>
        <li><strong>Punhos</strong>: ESI Grips Chuncky</li>
        <li><strong>Travões</strong>: Shimano Deore</li>
        <li><strong>Forqueta</strong>: NINER Boost RDO MTB FORK (Carbono)</li>
        <li><strong>Discos (Frente/Trás)</strong>: Shimano OEM Centerlock 180mm / Shimano OEM 160mm</li>
        <li><strong>Rodas</strong>: Stan’s ZTR Rapid 29 (Tubeless)</li>
        <li><strong>Cubos (Frente/Trás)</strong>: xxxx / Formula DC-1422</li>
        <li><strong>Raios</strong>: DT Swiss</li>
        <li><strong>Pneus (Frente/Trás)</strong>: Maxxis CrossMark II 2.0 / Vittoria Saguaro 2.1</li>
        <li><strong>Eixo Pedaleiro</strong>: xxx</li>
        <li><strong>Pedaleira + Prato</strong>: xxx</li>
        <li><strong>Pedais</strong>: xxx</li>
        <li><strong>Cog</strong>: xxx</li>
        <li><strong>Corrente</strong>: xxx</li>
        <li><strong>Tensor Corrente</strong>: xxx</li>
        <li><strong>Espigão</strong>: Cannondale C3, 27.2x300mm</li>
        <li><strong>Aperto Espigão</strong>: xxx</li>
        <li><strong>Selim</strong>: Prologo Nago Evo X8</li>
        <li><strong>Suporte Cantil</strong>: xxx</li>
    </ul>




    <h1 id="howto" class="under-line text-center">"Montanhêra"</h1>
        <img src="../assets/img/bikes/chaimite.jpg" alt="Bicicleta BTT Montanhêra">
    <br>
    <ul>
        <li><strong>Nome</strong>: Montanhêra</li>
        <li><strong>Marca/Modelo</strong>: Cannondale Scalper Carbon 2 '29, L</li>
        <li><strong>Guiador</strong>: xxx</li>
        <li><strong>Avanço</strong>: xxx</li>
        <li><strong>Caixa Direção</strong>: xxxx</li>
        <li><strong>Punhos</strong>: ESI Grips Chuncky</li>
        <li><strong>Travões</strong>: xxx</li>
        <li><strong>Shifter Mudanças</strong>: xxx</li>
        <li><strong>suspensão</strong>: xxx</li>
        <li><strong>Discos (Frente/Trás)</strong>: xxx / xxx</li>
        <li><strong>Rodas</strong>: xxx</li>
        <li><strong>Cubos (Frente/Trás)</strong>: xxxx / xxx</li>
        <li><strong>Raios</strong>: xxx</li>
        <li><strong>Pneus (Frente/Trás)</strong>: xxx / xxx</li>
        <li><strong>Eixo Pedaleiro</strong>: xxx</li>
        <li><strong>Pedaleira + Prato</strong>: xxx</li>
        <li><strong>Pedais</strong>: xxx</li>
        <li><strong>Corrente</strong>: xxx</li>
        <li><strong>Cassete</strong>: xxx</li>
        <li><strong>Desviador Traseiro</strong>: xxx</li>
        <li><strong>Espigão</strong>: xxx</li>
        <li><strong>Aperto Espigão</strong>: xxx</li>
        <li><strong>Selim</strong>: xxx</li>
        <li><strong>Suporte Cantil</strong>: xxx</li>
    </ul>






</main>