---
layout: page
title: "Índice dos posts"
permalink: "/indice"
description: "Listagem de todos os artigos."
---

<div class="container my-5 py-5 blog-page">
  {% for post in site.posts %}
    <div class="card my-3 bg-dark text-white">
        <div class="card-header">
        <h3 class="card-title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        </div>
        <div class="card-body">
        <p style="text-align: left">
            <a href="{{ post.url | prepend: site.baseurl }}"
            >{{ post.description }}</a
            >
        </p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-custom">LER MAIS</a>
        </div>
    </div>
    <hr />
  {% endfor %}
</div>

