---
layout: page
title: "Sobre mim"
permalink: "/sobre"
description: 'Descrição do autor do blog.'
---

<main id="main">

    
	<h1 class="under-line ">{{ post.title }}</h1>
    <h3>{{ post.description }}</h3>
    
    <div>
        <p>Agradeço desde já a sua visita no meu blog.</p>

        <p>Com este espaço pretendo mostrar a si, os caminhos, trilhos, veredas por onde (e com quem) costumo pedalar, registando em texto e imagens.</p>
            
        <p>Não sou ciclista profissional (nem tenho idade já para o ser) estando a anos-luz disso, apenas sou um amante de bicicletas e que faz uso da mesma no dia-a-dia. Adoptei a bicicleta como meio de transporte diário (excepto em dias de chuva como é óbvio), não só para reduzir custos, como também para continuar a fazer aquilo que gosto, pedalar!</p>
    
        <p>Como não podia deixar de ser, deixo aqui um agradecimento às entidades/grupos/clubes que me apoiam e incentivam cada dia neste mundo das pedaladas:</p>
    </div>

    <div>
        <img src="../assets/img/logos/logo_cfg_318x318.png"> <img src="../assets/img/logos/logo_CDP.webp"> <img src="../assets/img/logos/logo_NSVRSA.webp">
    </div>

    <div>
        <p>Espero que goste do espaço, agradecendo novamente a sua vinda e algum feedback desse lado.</p>

        <p>Cumprimentos, <br> Miguel</p>
    </div>




</main>