<!DOCTYPE html>
<html lang="pt">

    {% include head.html %}

    <body>

      <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "https://miguelnunorosa.gitlab.io/",
            "potentialAction": {
              "@type": "SearchAction",
              "target": "https://miguelnunorosa.gitlab.io/tags#{search_term_string}",
              "query-input": "required name=search_term_string"
            }
          }
      </script>
      {% include header.html %}


      {% include posts.html %}

      {% include footer.html %}
    </body>

</html>