<!DOCTYPE html>
<html lang="pt">

    {% include head.html %}

    <body>

    {% include header.html %}

    <div class="container">
        <div class="row mt-5 intro">
        <div class="col-sm-12 text-center px-5">
            <h1 class="pt-5 pb-1">
            <span class="intro-title">{{ page.title }}</span>
            </h1>
            <h2 class="py-3">{{ page.description }}</h2>
        </div>
        </div>
        <hr>
    </div> <!-- CONTAINER INTRO -->

    <div class="container pagina">
        {{ content }}
    </div>

    {% comment %}
        {% include tags.html %}

        {% include newsletter.html %}

    {% endcomment %}
        
    {% include footer.html %}
    </body>
</html>